<div class="login-container">
  <h2>{{ 'LOGIN.TITLE' | translate }}</h2>
  <form (submit)="onSubmit()">
    <div>
      <label>{{ 'LOGIN.EMAIL' | translate }}:</label>
      <input type="email" [(ngModel)]="email" name="email" required />
    </div>
    <div>
      <label>{{ 'LOGIN.PASSWORD' | translate }}:</label>
      <input type="password" [(ngModel)]="password" name="password" required />
    </div>
    <button type="submit">{{ 'LOGIN.LOGIN_BUTTON' | translate }}</button>
    <p *ngIf="errorMessage">{{ errorMessage }}</p>
  </form>
</div>