<div *ngIf="mosque">
  <h2>{{ mosque.name[selectedLanguage] }}</h2>
  <p>Location: {{ mosque.location[selectedLanguage] }}</p>
  <ul>
    <li>Fajr: {{ mosque.timings.fajr[selectedLanguage] }}</li>
    <li>Dhuhr: {{ mosque.timings.dhuhr[selectedLanguage] }}</li>
    <li>Asr: {{ mosque.timings.asr[selectedLanguage] }}</li>
    <li>Maghrib: {{ mosque.timings.maghrib[selectedLanguage] }}</li>
    <li>Isha: {{ mosque.timings.isha[selectedLanguage] }}</li>
    <li>Juma: {{ mosque.timings.juma[selectedLanguage] }}</li>
  </ul>
  <button (click)="goBack()">Back</button>
</div>