<div class="top-line">
  {{ "HEADER.TITLE" | translate }}
</div>
<div class="header">
  <div class="user-section">
    <!-- User Information Component -->
    <app-user-info></app-user-info>

    <div class="home btn" (click)="showAllMosques()">
      {{ "HEADER.ALL_MOSQUES" | translate }}
    </div>
    <!-- Language Selector -->
    <div class="language-selector">
      <!--<label for="language-selector">{{ 'HEADER.SELECT_LANGUAGE' | translate }}</label>--->
      <select
        id="language-selector"
        [(ngModel)]="selectedLanguage"
        (change)="onLanguageChange($event)"
      >
        <option value="en">{{ "HEADER.LANGUAGE_ENGLISH" | translate }}</option>
        <option value="ur">{{ "HEADER.LANGUAGE_URDU" | translate }}</option>
      </select>
    </div>
  </div>
</div>

<div class="content">
  <router-outlet></router-outlet>
</div>
